.game {
    position: relative;
    width: 95%;
    height: 95vh;
    border: 1px solid black;
    margin: 0 auto;
    overflow: hidden;
    background-color: #444444;
}

.egg-man {
    position: absolute;
    bottom: 50px; /* Position egg-man 50px from the bottom */
    left: 100px; /* Position egg-man 100px from the left */
    height: 200px;
    width: 180px; /* It's good practice to define both height and width */
    background-image: url('/public/images/EggMan-OpenMouth.png');
    background-size: 100% 100%; /* Resize background image to fill the element */
    background-repeat: no-repeat; /* Do not repeat the background image */
    z-index: 10; /* Optional: Ensure that it appears above other elements */
}

.basket {
    position: absolute;
    bottom: 6px; /* Position basket 10px from the bottom */
    right: 50px; /* Position basket 10px from the right */
    width: 200px;
    height: 200px;
    background-image: url('/public/images/Basket.png');
    background-size: 100% 100%; /* Resize background image to fill the element */
    background-repeat: no-repeat; /* Do not repeat the background image */
    border-radius: 50%;
    z-index: 10; /* Optional: Ensure that it appears above other elements */
    cursor: pointer;
}

.egg {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url('/public/images/Egg-Egg.png');
    background-size: 100% 100%; /* Resize background image to fill the element */
    background-repeat: no-repeat; /* Do not repeat the background image */
    border-radius: 50%;
    z-index: 10; /* Optional: Ensure that it appears above other elements */
}

.score {
    font-family: 'VCR_OSD_MONO', sans-serif;
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.egg-pack {
    position: absolute;
    bottom: 30px;
    right: 50px;
    font-size: 16px;
}

.feed-text {
    position: absolute;
    top: 30%;
    left: 50%;
    font-family: 'VCR_OSD_MONO', sans-serif;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 5; /* Optional: Set a lower z-index to ensure it stays behind the eggs and eggman */
}

